.controls .ace-file-input label{
    width:218px;
}
.controls .tooltip-error{
    width: 220px;
}
.controls .select-user-form{
    height: 29px;
}
#id-input-file-2{
    margin-bottom: 13px;
    margin-left: 20px;
    position: relative;
    width: 200px;
    z-index: 1;
}
.ace-file-input {
    width: 235px;
}
.widget-main {
    padding: 0;
}
.error .controls .help-inline ul{
    list-style: none outside none;
    margin: 0;

}
.wizard-actions {
    float: right;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: right;
    width: 15%;
}
.label_float_left{float: left; width: 300px;}
#form-field-select-1,textarea.mention{width: 397px !important;}
input[name=nombre]{width: 382px;}
